@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
:root {
  --red: #dd3f4c;
  --blue: #1e3e72;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #08162d;
}
::-webkit-scrollbar-thumb {
  background: #dd3f4c;
  border-radius: 0.7vw;
}
.hamburger-menu {
  display: none;
}
.hamburger-menu-close {
  display: none;
}
.banner {
  width: 100%;
  position: relative;
  padding: 1.8vw;
  background-image: url(../image/bg-register.jpg);
  background-size: cover;
  background-position: center;
}
.layout-banner {
  width: 100%;
  height: 46.4vw;
  display: grid;
  grid-template-columns: 63% 37%;
}
.banner::before {
  width: 1.8vw;
  left: 0;
  height: 16vw;
  background: var(--red);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: '';
}
.banner::after {
  width: 1.8vw;
  right: 0;
  height: 16vw;
  background: var(--blue);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: '';
}
.content-banner-1 {
  background-image: url(../image/banner-1.png);
  background-size: cover;
  background-position: center;
  padding: 2.3vw 0 0 2.4vw;
  position: relative;
}
.content-banner-1 h1 {
  font-size: 5.26vw;
  line-height: 1;
  margin-left: -0.3vw;
  color: white;
}
.content-banner-1 p {
  width: 68%;
  border-top: 0.26vw solid var(--red);
  font-size: 1.9vw;
  color: white;
  margin-top: 2vw;
  padding-top: 1.4vw;
}
.content-banner-1 ul {
  display: flex;
  align-items: center;
  gap: 2.1vw;
}
.content-banner-1 ul li {
  list-style: none;
}
.content-banner-1 ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.7vw;
  transition: 0.4s all;
}
.content-banner-1 ul li a.active {
  color: var(--red);
}
.content-banner-1 ul li a:hover {
  color: #dd3f4c;
}
.layout-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8vw;
  width: 80%;
  margin-bottom: 2.8vw;
}
.social-media-banner {
  background: var(--red);
  width: 52%;
  display: flex;
  align-items: center;
  position: absolute;
  gap: 1vw;
  bottom: 0;
  padding: 1.1vw 1vw;
}
.layout-icon-social-media {
  display: flex;
  gap: 0.7vw;
}
.icon-social-media {
  position: relative;
  width: 2.7vw;
  height: 2.7vw;
  background: white;
  border-radius: 20vw;
}
.icon-social-media ion-icon {
  position: absolute;
  color: var(--red);
  left: 50%;
  top: 50%;
  font-size: 1.6vw;
  transform: translate(-50%, -50%);
}
.content-banner-2 {
  background-image: url(../image/banner-2.png);
  background-size: cover;
  background-position: center;
  position: relative;
}
.email-text-banner {
  background: var(--blue);
  padding: 0.6vw 1.4vw;
  position: absolute;
  bottom: 0;
  right: -1.8vw;
}
.email-text-banner span {
  font-size: 1.5vw;
  color: white;
  font-weight: 500;
}
.website-text-banner span {
  font-size: 1.6vw;
  color: white;
}
.decoration-right-banner {
  position: absolute;
  right: 2%;
  top: 2%;
  width: 7.6vw;
}
.decoration-left-banner {
  position: absolute;
  left: 0.17%;
  top: 28%;
  transform: translateY(-50%);
  width: 1.5vw;
}
.papap-image {
  position: absolute;
  left: -15.6vw;
  bottom: 0;
  width: 28vw;
  z-index: 2;
}
.decoration-behind-papap {
  position: absolute;
  left: -18.06vw;
  width: 9.7vw;
  bottom: 1.4%;
}
.mobile-image-papap {
  display: none;
}
.button-sign {
  border: none;
  outline: none;
  background: var(--red);
  padding: 0.5vw 1.1vw;
  cursor: pointer;
  z-index: 5;
}
.button-sign a {
  color: white;
  font-size: 1.3vw;
  text-decoration: none;
  font-weight: 500;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.button-profil {
  display: flex;
  align-items: center;
  z-index: 3;
  gap: 0.8vw;
}
.button-profil span {
  color: white;
  font-size: 1.2vw;
}

.register {
  width: 100%;
  background-image: url(../image/bg-register.jpg);
  background-size: cover;
  background-position: center;
  padding: 6.5vw 13vw;
}
.box-register {
  background: var(--red);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.4vw 1.4vw;
  flex-direction: column;
  color: white;
  position: relative;
}
.box-register h2 {
  font-size: 1.9vw;
  font-weight: 600;
  margin-bottom: 1.4vw;
}
.box-register button {
  border: none;
  outline: none;
  font-size: 1.9vw;
  background: var(--blue);
  color: var(--red);
  padding: 0.44vw 1.9vw;
  cursor: pointer;
}
.islamic-ornamen-1 {
  position: absolute;
  top: -40%;
  right: -8%;
  width: 13vw;
}
.islamic-ornamen-2 {
  position: absolute;
  bottom: -20%;
  left: -5%;
  width: 10vw;
}

.program {
  width: 100%;
  height: max-content;
  display: grid;
  grid-template-columns: 36% 64%;
  align-items: center;
  background-image: url(../image/banner-1.png);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow-x: hidden;
}
.program-image {
  width: 100%;
}
.content-program {
  padding: 1vw 2.6vw;
  padding-right: 0;
  color: white;
  position: relative;
}
.content-program h1 {
  padding-right: 2.7vw;
  padding-bottom: 0.8vw;
  font-size: 5.26vw;
  border-bottom: 0.26vw solid var(--red);
  width: max-content;
}
.content-program p {
  font-size: 1.9vw;
  margin-top: 1.4vw;
}
.layout-slide {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.layout-slide span {
  background: #dd3f4c;
  text-align: center;
  padding: 0.5vw 1.7vw;
  font-size: 1.7vw;
  color: #1e3e72;
}
.program-slide {
  margin-top: 2.2vw !important;
  padding-right: 3vw !important;
}
.program-slide .swiper-wrapper {
  margin-bottom: 3.8vw;
}
.program-slide .swiper-slide {
  width: max-content !important;
}
.swiper-pagination {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.swiper-pagination-bullet {
  width: 0.8vw !important;
  height: 0.8vw !important;
  background: white !important;
  border-radius: 0 !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active {
  width: 1vw !important;
  height: 1vw !important;
  opacity: 1 !important;
  background: var(--red) !important;
}
.program-decoration {
  position: absolute;
  left: 1.1%;
  bottom: 2.3%;
  width: 7.8vw;
}
.content-program-decoration {
  position: absolute;
  right: -2.6%;
  top: 2%;
  width: 9vw;
}

.partnership {
  text-align: center;
  padding: 4.5vw 7.6vw;
  padding-bottom: 7vw;
  background-image: url(../image/bg-register.jpg);
  background-size: cover;
  background-position: center;
}
.partnership h1 {
  font-size: 5.26vw;
  padding: 0 1vw;
  padding-bottom: 0.7vw;
  border-bottom: 0.26vw solid var(--red);
  width: max-content;
  color: var(--blue);
  margin: auto;
}
.partnership-slide {
  background: var(--red);
  margin-top: 2.7vw;
  padding: 0 6vw !important;
}
.partnership-slide .swiper-slide .partnership-box {
  width: 100%;
  height: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.partnership-slide .swiper-slide .partnership-box img {
  width: 12vw;
  transition: 0.3s all;
  filter: grayscale(1);
}
.partnership-slide .swiper-slide .partnership-box img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}
.swiper-button-next,
.swiper-button-prev {
  padding: 2vw !important;
  top: 1.6vw !important;
  margin-top: 0 !important;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: none !important;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: none !important;
}
.swiper-button-next {
  background-image: url(../image/right-arrow.svg) !important;
  background-size: 3.6vw !important;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0.8vw !important;
}
.swiper-button-prev {
  background-image: url(../image/left-arrow.svg) !important;
  background-size: 3.6vw !important;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 0.8vw !important;
}

.footer {
  width: 100%;
  padding: 4vw 5vw;
  height: max-content;
  background-image: url(../image/bg-footer.png);
  background-position: center;
  background-size: cover;
  padding-bottom: 1.5vw;
}
.content-footer {
  display: flex;
  justify-content: center;
  gap: 4vw;
}
.list-media-sosial {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  padding-right: 2.5vw;
}
.list-media-sosial li {
  margin-bottom: 0.9vw;
}
.list-media-sosial a {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 0.5vw;
}
.icon-footer {
  width: 2vw;
  height: 2vw;
  border-radius: 20vw;
  background: var(--red);
  position: relative;
}
.icon-footer ion-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #08162d;
  font-size: 1.2vw;
}
.icon-footer img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.1vw;
}
.list-media-sosial a span {
  font-size: 1.3vw;
  color: white;
}
.list-media-sosial a span:hover {
  color: var(--red);
  transition: 0.3s all;
}
.heading-footer h2 {
  font-size: 2.4vw;
  font-weight: 700;
  color: white;
  border-bottom: 0.26vw solid var(--red);
  margin-bottom: 1.3vw;
  padding-right: 1vw;
  padding-bottom: 0.7vw;
}
.list-menu-footer li {
  margin-bottom: 0.7vw;
  color: white;
  list-style-position: inside;
}
.list-menu-footer li a:hover {
  color: var(--red);
  transform: scaleX(1.3);
  transition: 0.3s all;
}
.list-menu-footer li a {
  text-decoration: none;
  color: white;
  font-size: 1.3vw;
  margin-bottom: 0.67vw;
}
.layout-footer p {
  font-size: 1.3vw;
  color: white;
  padding-right: 1.7vw;
  line-height: 1.5;
}

.copyright-footer {
  text-align: center;
  color: white;
  margin-top: 6.7vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3vw;
}
.copyright-footer span {
  font-size: 1.2vw;
}
.copyright-footer p {
  font-size: 1.2vw;
}
.copyright-footer a {
  text-decoration: none;
  color: var(--red);
}

@media only screen and (max-width: 769px) {
  .header-menu-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2.6vw 3.4vw;
  }
  .layout-menu {
    display: block;
    width: max-content;
    margin: 0;
  }
  .button-sign {
    padding: 1.7vw 2.7vw;
  }
  .button-sign a {
    font-size: 5.6vw;
  }
  .button-profil {
    z-index: 3;
    gap: 1.23vw;
  }
  .button-profil span {
    font-size: 5vw;
  }
  .hamburger-menu {
    display: block;
    width: 15vw;
    height: 15vw;
    position: relative;
    cursor: pointer;
    background: var(--red);
    border-radius: 20vw;
  }
  .hamburger-menu ion-icon {
    position: absolute;
    font-size: 11vw;
    left: 50%;
    top: 50%;
    color: var(--blue);
    transform: translate(-50%, -50%);
  }
  .hamburger-menu-close {
    position: absolute;
    left: 3%;
    top: 3%;
  }
  #list-menu {
    transform: translateX(100%);
    right: 0;
    top: 0;
    height: max-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    position: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 14vw 0;
    z-index: 23;
    background-image: url(../image/bg-footer.png);
    background-position: center;
    background-size: cover;
    transition: 0.5s all;
  }
  #list-menu li a {
    font-size: 9vw;
    margin-bottom: 2vw;
  }
  #list-menu.active {
    transform: translateX(0);
  }
  .banner {
    padding: 0;
  }
  .layout-banner {
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
  }
  .banner::before {
    display: none;
  }
  .banner::after {
    display: none;
  }
  .content-banner-2 {
    display: none;
  }
  .content-banner-1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-image: url(../image/papap-mobile.png);
  }
  .content-banner-1 h1 {
    font-size: 11vw;
    line-height: 1;
    margin-left: 0;
  }
  .content-banner-1 p {
    width: 90%;
    border-top: 0.6vw solid var(--red);
    font-size: 6vw;
    margin-top: 5vw;
    padding-top: 2.8vw;
  }
  .social-media-banner {
    background: var(--red);
    width: max-content;
    display: flex;
    align-items: center;
    position: relative;
    gap: 1vw;
    margin: 4.5vw 0;
    padding: 2.4vw 2.2vw;
  }
  .layout-icon-social-media {
    gap: 0.9vw;
  }
  .icon-social-media {
    width: 9vw;
    height: 9vw;
  }
  .icon-social-media ion-icon {
    font-size: 5.7vw;
  }
  .website-text-banner span {
    font-size: 4.8vw;
  }
  .mobile-image-papap {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
    display: none;
  }

  .register {
    width: 100%;
    padding: 16vw 7vw;
    overflow: hidden;
  }
  .box-register {
    padding: 5.5vw 2vw;
    text-align: center;
  }
  .box-register h2 {
    font-size: 5.3vw;
    margin-bottom: 3.8vw;
  }
  .box-register button {
    font-size: 5.3vw;
    padding: 1.6vw 3.5vw;
    cursor: pointer;
  }
  .islamic-ornamen-1 {
    position: absolute;
    top: -27%;
    right: -12%;
    width: 19vw;
  }
  .islamic-ornamen-2 {
    position: absolute;
    bottom: -14%;
    left: -5%;
    width: 16vw;
  }

  .program {
    grid-template-columns: 100%;
    padding: 8.5vw 0;
    padding-left: 0;
    overflow: hidden;
  }
  .program-image {
    display: none;
  }
  .content-program h1 {
    padding-right: 5vw;
    padding-bottom: 3vw;
    font-size: 11vw;
    border-bottom: 0.6vw solid var(--red);
    width: max-content;
  }
  .layout-slide {
    gap: 5vw;
  }
  .content-program p {
    font-size: 6vw;
    margin-top: 3.5vw;
  }
  .layout-slide span {
    padding: 1.3vw 4.4vw;
    font-size: 5.7vw;
  }
  .program-slide {
    margin-top: 5.8vw !important;
    padding-right: 3vw !important;
  }
  .program-slide .swiper-wrapper {
    margin-bottom: 11vw;
  }
  .swiper-pagination-bullet {
    width: 2.4vw !important;
    height: 2.4vw !important;
  }
  .swiper-pagination-bullet-active {
    width: 3vw !important;
    height: 3vw !important;
  }
  .program-decoration {
    left: -5%;
    bottom: -2%;
    width: 23vw;
  }
  .content-program-decoration {
    right: -3%;
    top: 2%;
    width: 23vw;
  }

  .partnership {
    padding: 10vw 5vw;
    padding-bottom: 13vw;
  }
  .partnership h1 {
    font-size: 11vw;
    padding: 0 2vw;
    padding-bottom: 1.6vw;
    border-bottom: 0.6vw solid var(--red);
  }
  .partnership-slide {
    margin-top: 7vw;
    padding: 3vw 6vw !important;
  }
  .partnership-slide .swiper-slide .partnership-box {
    height: 18vw;
  }
  .partnership-slide .swiper-slide .partnership-box img {
    width: 44vw;
  }
  .swiper-button-next,
  .swiper-button-prev {
    padding: 2vw !important;
    top: 6.7vw !important;
    margin-top: 0 !important;
  }
  .swiper-button-next {
    background-size: 7vw !important;
    margin-right: 0.8vw !important;
  }
  .swiper-button-prev {
    background-size: 7vw !important;
    margin-left: 0.8vw !important;
  }

  .footer {
    padding: 8vw 5vw;
    padding-bottom: 4.5vw;
  }
  .content-footer {
    flex-direction: column;
    gap: 6vw;
  }
  .heading-footer h2 {
    font-size: 9vw;
    border-bottom: 0.6vw solid var(--red);
    margin-bottom: 3.7vw;
    width: max-content;
    padding-right: 6vw;
    padding-bottom: 1.6vw;
  }
  .icon-footer {
    width: 6.7vw;
    height: 6.7vw;
  }
  .icon-footer ion-icon {
    font-size: 4vw;
  }
  .icon-footer img {
    width: 4vw;
  }
  .list-media-sosial {
    grid-template-columns: repeat(1, 1fr);
    padding-right: 2.5vw;
    padding-left: 1.6vw;
  }
  .list-media-sosial li {
    margin-bottom: 2.7vw;
  }
  .list-media-sosial a {
    gap: 2vw;
  }
  .list-media-sosial a span {
    font-size: 5.6vw;
  }
  .list-media-sosial {
    padding-right: 2.5vw;
  }
  .list-menu-footer li {
    margin-bottom: 2.5vw;
    padding-left: 2vw;
  }
  .list-menu-footer li a {
    font-size: 5.8vw;
    margin-bottom: 0.67vw;
  }
  .layout-footer p {
    font-size: 5.5vw;
    padding-right: 0;
    padding-left: 1.2vw;
  }

  .copyright-footer {
    margin-top: 16vw;
    gap: 0.6vw;
  }
  .copyright-footer span {
    font-size: 4.3vw;
  }
  .copyright-footer p {
    font-size: 4.3vw;
  }
}
