<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
  <main class="w-full min-h-[100vh] mt-[60px] flex justify-center items-center">
    <section class="w-full flex flex-col justify-center items-center gap-3">
      <h1 class="text-7xl text-green-600">404</h1>
      <p>Kamu tengah mengakses halaman yang tidak ada</p>
      <a href="/" class="py-2 px-5 text-white bg-green-600 hover:bg-green-400 hover:shadow-md rounded-lg">Kembali ke Beranda</a>
    </section>
  </main>
<%- include('../partials/footer') %>