@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Source Sans Pro', sans-serif;
}

.btn-disabled {
  @apply bg-gray-600 focus:bg-gray-600 cursor-not-allowed;
}


--red: #dd3f4c;
--blue: #1e3e72;